<section role="main" class="content-body">
  <header class="page-header">
    <h2>Data Pasukan</h2>
    <div class="right-wrapper pull-right">
      <ol class="breadcrumbs">
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>
          <% end %>
        </li>
        <li>
          <span>Data Pasukan</span>
        </li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading bg-primary">
          <div class="widget-profile-info">
            <div class="profile-picture">
              <% if @team.try(:team_logo?) %>
                <%= image_tag(@team.team_logo_url(:low_res)) %>
              <% else %>
                <%= image_tag "default-team-avatar.jpg" %>
              <% end %>
            </div>
            <div class="profile-info">
              <h4 class="name text-weight-semibold"><%= @team.team_name %></h4>
              <h5 class="role"><%= @team.state.name %></h5>
              <div class="profile-footer">
                Tarikh akhir kemaskini: <%= @team.updated_at.strftime("%d %B %Y") %>
              </div>
            </div>
          </div>
        </header>
        <div class="panel-body">
          <!-- Main Content Start -->
          <!-- <center><p><%= image_tag(@team.team_image_url(:low_res), class: "img-responsive") %></p></center> -->
          <h4>Keterangan Pasukan</h4>
          <table class="table table-bordered">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td>ID Pasukan</td>
                <td><strong><%= @team.team_ref_id %></strong></td>
              </tr>
              <tr>
                <td>Alamat Pasukan</td>
                <td><strong><%= @team.address %></strong></td>
              </tr>
              <tr>
                <td>No. Telefon</td>
                <td><strong><%= @team.phone_number %></strong></td>
              </tr>
              <tr>
                <td>Alamat Emel</td>
                <td><strong><%= @team.team_email_address %></strong></td>
              </tr>
              <tr>
                <td>Pegawai Pentadbir Pasukan</td>
                <td><strong><%= @team.user.profile.full_name.blank? ? @team.user.username : @team.user.profile.full_name %></strong> (<%= link_to "lihat", edit_profile_path %>)</td>
              </tr>
            </tbody>
          </table>
          <!-- Main Content End -->
        </div>
        <div class="panel-footer">
        </div>
      </section>
    </div>
  </div>
</section>
