<section role="main" class="content-body">
  <header class="page-header">
    <h2>Senarai Pegawai Pasukan</h2>
    <div class="right-wrapper pull-right">
      <ol class="breadcrumbs">
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>
          <% end %>
        </li>
        <li>
          <span>Senarai Pegawai Pasukan</span>
        </li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">Senarai Pegawai Pasukan</h2>
        </header>
        <div class="panel-body">
          <!-- Main Content Start -->
          <table class="table table-bordered table-striped mb-none" id="datatable-lbr">
            <thead>
              <tr>
                <th class="col-md-1">Bil</th>
                <th>Nama</th>
                <th class="col-md-2">Posisi</th>
                <th class="col-md-2"></th>
              </tr>
            </thead>
            <tbody>
              <% @team_officials.each_with_index do |to, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= to.name %></td>
                <td><%= to.position %></td>
                <td><%= link_to "Lihat Data", admin_team_team_official_path(id:to) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <!-- Main Content End -->
        </div>
        <div class="panel-footer">
          <%= link_to "Kembali ke Data Pasukan", admin_team_path(@team), class: "btn btn-default" %>
        </div>
      </section>
    </div>
  </div>
</section>
