<section role="main" class="content-body">
  <header class="page-header">
    <h2>Detail Perlawanan</h2>
    <div class="right-wrapper pull-right">
      <ol class="breadcrumbs">
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>
          <% end %>
        </li>
        <li>
          <span>Detail Perlawanan</span>
        </li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading bg-primary">
          <div class="widget-profile-info">
            <div class="row">
              <div class="col-md-5">
                <div class="profile-picture">
                  <% if @staff_team_schedule.home_team.try(:team_logo?) %>
                    <%= image_tag(@staff_team_schedule.home_team.team_logo_url(:low_res)) %>
                  <% else %>
                    <%= image_tag "default-team-avatar.jpg" %>
                  <% end %>
                </div>
                <div class="profile-info" style="vertical-align:middle;">
                  <h2 class="name text-weight-semibold"><%= @staff_team_schedule.home_team.team_name.upcase %></h2>
                </div>
              </div>
              <div class="col-md-2">
                <div class="profile-info" style="vertical-align:middle;">
                  <h1 class="name text-weight-semibold" style="margin-top:32px;">vs</h1>
                </div>
              </div>
              <div class="col-md-5">
                <div class="profile-picture">
                  <% if @staff_team_schedule.away_team.try(:team_logo?) %>
                    <%= image_tag(@staff_team_schedule.away_team.team_logo_url(:low_res)) %>
                  <% else %>
                    <%= image_tag "default-team-avatar.jpg" %>
                  <% end %>
                </div>
                <div class="profile-info" style="vertical-align:middle;">
                  <h2 class="name text-weight-semibold"><%= @staff_team_schedule.away_team.team_name.upcase %></h2>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="panel-body">
          <!-- Main Content Start -->
          <table class="table table-bordered">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td>Bilangan Perlawanan</td>
                <td><strong><%= @staff_team_schedule.bil_per %></strong></td>
              </tr>
              <tr>
                <td>PBN</td>
                <td><strong><%= @staff_team_schedule.pbn %></strong></td>
              </tr>
              <tr>
                <td>Tarikh Perlawanan</td>
                <td><strong><%= @staff_team_schedule.tarikh_perl.strftime("%d %B %Y") %></strong></td>
              </tr>
              <tr>
                <td>Masa Perlawanan</td>
                <td><strong><%= @staff_team_schedule.masa_perl.strftime("%I:%M %p") %></strong></td>
              </tr>
              <tr>
                <td>Venue</td>
                <td><strong><%= @staff_team_schedule.venue %></strong></td>
              </tr>
              <tr>
                <td>Status</td>
                <td>
                  <span class="label <%= @staff_team_schedule.incoming? ? 'label-warning' : @staff_team_schedule.played? ? 'label-primary' : 'label-danger' %>">
                    <%= @staff_team_schedule.status.upcase %>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Main Content End -->
        </div>
        <div class="panel-footer">
          <%#= link_to "Kemaskini", edit_team_team_player_path(@team_player), class: "btn btn-primary" %>
          <%= link_to "Muat Turun Senarai Pemilihan dalam PDF", selection_staff_zone_group_team_schedules_path(group_id:@staff_team_schedule, :format => "pdf"), :class => "btn btn-success", :target => "_blank" %>
          <%= link_to "Kembali", staff_zone_group_team_schedules_path(group_id:@staff_team_schedule), class: "btn btn-default" %>
          <%= link_to "Keputusan Perlawanan", new_staff_zone_group_team_schedule_match_report_path(team_schedule_id: @staff_team_schedule), :class => "btn btn-primary" %>
        </div>
      </section>
    </div>
  </div>
</section>
