<div class="nested-fields">

  <div class="col-md-12 form-group">
    <%= f.label :team_player_id, "Nama Pemain", class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.collection_select :team_player_id, TeamPlayer.where(team_id: @staff_team_schedule.home_team_id) + TeamPlayer.where(team_id: @staff_team_schedule.away_team_id), :id, :best_player_detail, { prompt: "-- Pilih Pasukan" }, { class: 'form-control populate placeholder', 'data-plugin-selectTwo' => 'data-plugin-selectTwo', 'data-plugin-options' => '{ "placeholder": "Pilih pemain", "allowClear": true }' } %>
      <span class="help-block">
        <small>* tidak wajib diisi, tinggalkan kosong jika tiada</small>
      </span>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <%= f.label :minute, "Minit", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :minute, :class => "form-control" %>
      <span class="help-block">
        <small>* tidak wajib diisi</small>
      </span>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <%= f.label :kod_id, "Category", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.collection_select :kod_id, Kod.order(:id), :id, :kod_number, {prompt: "-- Pilih Kategori"}, :class => 'form-control populate placeholder', 'data-plugin-selectTwo' => 'data-plugin-selectTwo', 'data-plugin-options' => '{ "placeholder": "Pilih kategori", "allowClear": true }' %>
      <span class="help-block">
        <small>* tidak wajib diisi</small>
      </span>
    </div>
  </div>

  <div class="col-md-12 form-group">
    <%= link_to_remove_association "Buang", f, class: "btn btn-danger pull-right" %>
  </div>

</div>
