<section role="main" class="content-body">
  <header class="page-header">
    <h2>Senarai Pemain Pasukan</h2>
    <div class="right-wrapper pull-right">
      <ol class="breadcrumbs">
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>
          <% end %>
        </li>
        <li>
          <span>Senarai Pemain Pasukan</span>
        </li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">Senarai Pemain Pasukan</h2>
        </header>
        <div class="panel-body">
          <!-- Main Content Start -->
          <table class="table table-bordered table-striped mb-none" id="datatable-lbr">
            <thead>
              <tr>
                <th class="col-md-1">Bil</th>
                <th class="col-md-4">Nama</th>
                <th class="col-md-2">ID Pemain</th>
                <th class="col-md-2">Posisi</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-2"></th>
              </tr>
            </thead>
            <tbody>
              <% @team_players.each_with_index do |tm,index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td>
                  <% if tm.try(:player_picture?) %>
                    <%= image_tag(tm.player_picture_url(:standar), class: 'img-circle', height: 15) %>
                  <% else %>
                    <%= image_tag "default-avatar.png", class: 'img-circle', height: 15 %>
                  <% end %>
                  <%= tm.player_name.upcase %>
                </td>
                <td><%= tm.ref_id %></td>
                <td><%= tm.position.upcase %></td>
                <td>
                  <% if @team_players.where(status: 1).count <= 5 %>
                    <% if tm.registered? %>
                      <span class="label label-primary"><%= tm.status.upcase %></span>
                      <%= link_to 'Mark reject',mark_reject_team_team_player_path(tm), method: :patch, class: "btn btn-xs btn-warning" %>
                    <% elsif tm.rejected? %>
                        <span class="label label-danger"><%= tm.status.upcase %></span>
                    <% elsif tm.newly_added? %>
                        <span class="label label-success"><%= tm.status.upcase %></span>
                    <% end %>
                  <% else %>
                    <% if tm.registered? %>
                      <span class="label label-primary"><%= tm.status.upcase %></span>
                    <% elsif tm.rejected? %>
                        <span class="label label-danger"><%= tm.status.upcase %></span>
                    <% elsif tm.newly_added? %>
                        <span class="label label-success"><%= tm.status.upcase %></span>
                    <% end %>
                  <% end %>
                </td>
                <td><%= link_to "Lihat Data", team_team_player_path(tm) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <!-- Main Content End -->
        </div>
        <%# if !TeamPlayer.exists?("team_id" => "#{current_user.team.id}") %>
        <div class="panel-footer">
          <%= link_to "Muat Turun dalam PDF", team_team_players_path(@team, :format => "pdf"), :class => "btn btn-success", :target => "_blank" %>
          Jumlah pemain dibuang untuk New Open Window : <%= @team_players.where(status: 1).count %> orang (Nota: Had pertukaran pemain tidak lebih dari 5 orang)
          <% if @team_players.where(status: 3).count <= @team_players.where(status: 1).count && @team_players.where(status: 1).count != @team_players.where(status: 3).count %>
            <%= link_to "Daftar Data Pemain", new_team_team_player_path, class: "btn btn-primary" %>
          <% end %>
        </div>
        <%# end %>
      </section>
    </div>
  </div>
</section>
