<section role="main" class="content-body">
  <header class="page-header">
    <h2>Data Pegawai Pasukan</h2>
    <div class="right-wrapper pull-right">
      <ol class="breadcrumbs">
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>
          <% end %>
        </li>
        <li>
          <span>Data Pegawai Pasukan</span>
        </li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading bg-primary">
          <div class="widget-profile-info">
            <div class="profile-picture">
              <% if @team_official.try(:profile_picture?) %>
                <%= image_tag(@team_official.profile_picture_url(:standar)) %>
              <% else %>
                <%= image_tag "default-avatar.png" %>
              <% end %>
            </div>
            <div class="profile-info">
              <h4 class="name text-weight-semibold"><%= @team_official.name %></h4>
              <h5 class="role"><%= @team_official.position %></h5>
              <div class="profile-footer">
                Tarikh akhir kemaskini: <%= @team_official.updated_at.strftime("%d %B %Y") %>
              </div>
            </div>
          </div>
        </header>
        <div class="panel-body">
          <!-- Main Content Start -->
          <h4>Keterangan Pegawai</h4>
          <table class="table table-bordered">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td>Nama Penuh</td>
                <td><strong><%= @team_official.name %></strong></td>
              </tr>
              <tr>
                <td>No. Kad Pengenalan</td>
                <td><strong><%= @team_official.ic_number %></strong></td>
              </tr>
              <tr>
                <td>No. Telefon</td>
                <td><strong><%= @team_official.phone_number %></strong></td>
              </tr>
              <tr>
                <td>Alamat Emel</td>
                <td><strong><%= @team_official.email_address %></strong></td>
              </tr>
              <tr>
                <td>Posisi Pemain</td>
                <td><strong><%= @team_official.position %></strong></td>
              </tr>
              <tr>
                <td>No Sijil</td>
                <td><strong><%= @team_official.no_sijil %> <% if @team_official.try(:salinan_sijil?) %><%= link_to "(lihat sijil)", @team_official.salinan_sijil_url, target: "_blank" %><% end %></strong></strong></td>
              </tr>
            </tbody>
          </table>
          <!-- Main Content End -->
        </div>
        <div class="panel-footer">
          <%= link_to "Kembali ke Senarai Pegawai", staff_team_team_officials_path, class: "btn btn-default" %>
        </div>
      </section>
    </div>
  </div>
</section>
