<!-- start: header -->
<header class="header">
	<div class="logo-container">
		<%= link_to root_path, class: "logo" do %>
			<%= image_tag "logo.png", height: 35, alt: "Liga Bola Sepak Rakyat" %>
		<% end %>
		<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
			<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		</div>
	</div>

	<div class="header-right">

		<span class="separator"></span>

		<div id="userbox" class="userbox">
			<a href="#" data-toggle="dropdown">
				<figure class="profile-picture">
					<%= image_tag('default/avatar.png', class: "img-circle", alt: "#{current_user.username}", "data-lock-picture" => "avatar-default-lg.png") %>
				</figure>
				<div class="profile-info" data-lock-name="<%= current_user.username %>" data-lock-email="<%= current_user.email %>">
					<span class="name"><%= current_user.username %></span>
				</div>

				<i class="fa custom-caret"></i>
			</a>

			<div class="dropdown-menu">
				<ul class="list-unstyled">
					<li class="divider"></li>
					<li>
						<%= link_to settings_path, role: "menuitem", tabindex: "-1", data: { no_turbolink: true } do %>
							<i class="fa fa-gear"></i> Account Settings
						<% end %>
					</li>
					<li>
						<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
					</li>
					<% if user_signed_in? %>
					<li>
						<%= link_to destroy_user_session_path, method: "delete", role: "menuitem", tabindex: '-1' do %>
							<i class="fa fa-power-off"></i> Logout
						<% end %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</header>
