<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Menu Navigation
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          <li>
            <%= link_to dashboard_path do %>
              <i class="fa fa-home"></i> <span>Muka Hadapan</span>
            <% end %>
          </li>
          <% if current_user.lbr_admin? %>
          <li class="nav-parent">
            <a><i class="fa fa-gear"></i> <span>Konfigurasi Admin</span></a>
            <ul class="nav nav-children">
              <li>
                <%= link_to admin_teams_path do %>
                  <i class="fa fa-registered"></i> <span>Lihat Senarai Pasukan</span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_pages_path do %>
                  <i class="fa fa-file"></i> <span>Lihat Senarai Pasukan melalui Negeri</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a><i class="fa fa-group"></i> <span>Daftar Pengurus Negeri</span></a>
            <ul class="nav nav-children">
              <li>
                <%= link_to state_managers_path do %>
                  <i class="fa fa-suitcase"></i> <span>Lihat Senarai Pengurus</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_state_manager_path do %>
                  <i class="fa fa-key"></i> <span>Daftar Data Baru</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to edit_system_preference_path do %>
              <i class="fa fa-soccer-ball-o"></i> <span>Tetapan Sistem</span>
            <% end %>
          </li>
          <% elsif current_user.staff? %>
          <li class="nav-parent">
            <a><i class="fa fa-group"></i> <span>Konfigurasi Pasukan</span></a>
            <ul class="nav nav-children">
              <li>
                <%= link_to staff_teams_path do %>
                  <i class="fa fa-group"></i> <span>Lihat Senarai Pasukan</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a><i class="fa fa-suitcase"></i> <span>Tetapan Perlawanan</span></a>
            <ul class="nav nav-children">
              <li>
                <%= link_to staff_zones_path do %>
                  <i class="fa fa-group"></i> <span>Zon</span>
                <% end %>
              </li>
            </ul>
          </li>
          <% elsif current_user.state_manager? %>
          <li class="nav-parent">
            <a><i class="fa fa-group"></i> <span>Konfigurasi Pasukan</span></a>
            <ul class="nav nav-children">
              <li>
                <%= link_to lo_teams_path do %>
                  <i class="fa fa-group"></i> <span>Lihat Senarai Pasukan</span>
                <% end %>
              </li>
            </ul>
          </li>
          <% end %>
          <% if current_user.state_manager? %>
          <li class="nav-parent">
            <a><i class="fa fa-group"></i> <span>Pendaftaran Pasukan</span></a>
            <ul class="nav nav-children">
              <% if !StateConfig.exists?(:state_id => "#{current_user.state_id}") %>
              <li>
                <%= link_to new_state_config_path do %>
                  <i class="fa fa-group"></i> <span>Tetapan Pendaftaran<br/>Pasukan</span>
                <% end %>
              </li>
              <% else %>
              <li>
                <%= link_to state_config_path do %>
                  <i class="fa fa-group"></i> <span>Lihat Pendaftaran<br/>Pasukan</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_team_manager_path do %>
                  <i class="fa fa-group"></i> <span>Daftar Pegawai Tadbir</span>
                <% end %>
              </li>
              <li>
                <%= link_to team_managers_path do %>
                  <i class="fa fa-group"></i> <span>Lihat Senarai Pegawai<br/>Tadbir</span>
                <% end %>
              </li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <% if current_user.team_manager? %>
          <li class="nav-parent">
            <a><i class="fa fa-group"></i> <span>Data Pasukan</span></a>
            <ul class="nav nav-children">
              <% if !Team.exists?(:team_name => "#{current_user.team_name}") %>
              <li>
                <%= link_to new_team_path do %>
                  <i class="fa fa-group"></i> <span>Cipta Pasukan</span>
                <% end %>
              </li>
              <% else %>
              <li>
                <%= link_to team_path do %>
                  <i class="fa fa-group"></i> <span>Data Pasukan</span>
                <% end %>
              </li>
              <li>
                <%= link_to team_team_officials_path do %>
                  <i class="fa fa-group"></i> <span>Senarai Pegawai Pasukan</span>
                <% end %>
              </li>
              <li>
                <%= link_to team_team_players_path do %>
                  <i class="fa fa-group"></i> <span>Senarai Pemain Pasukan</span>
                <% end %>
              </li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <li>
            <%= link_to p_table_standing_path do %>
                <i class="fa fa-calendar-o"></i> <span>Carta Kedudukan</span>
            <% end %>
          </li>
          <li>
            <%= link_to p_match_schedule_path do %>
                <i class="fa fa-calendar"></i> <span>Jadual Perlawanan</span>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>

  </div>

</aside>
<!-- end: sidebar -->
