<!DOCTYPE html>
<html lang="en" class="fixed header-dark sidebar-left-sm">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LBR - Liga Bola Sepak Rakyat</title>
  <meta content='' name='keywords'>
  <meta content=''>
  <meta content='LBR' name='author'>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= render 'alert' %>
    <section class="body">
      <%= render 'header' %>
      <div class="inner-wrapper">
        <%= render 'left_sidebar' %>
        <%= yield %>
      </div>
      <%= render 'right_sidebar' %>
    </section>
  </div>
</body>
</html>
